extends layout

block content
  h1 Password Reset Request 🔐
  
  p Hi #{firstName},
  
  p We received a request to reset the password for your Uber Clone account.
  
  p If you requested this password reset, use the link below:
  
  p
    strong Reset Link:
  p(style='word-break: break-all; background-color: #f5f5f5; padding: 10px; border-left: 4px solid #007bff;')
    a(href=url)= url
  
  p This link will expire in 
    strong 10 minutes
    |  for security reasons.
  
  p If you didn't request this password reset, please ignore this email. Your password will remain unchanged.
  
  p Stay secure,
    br
    | The Uber Clone Security Team
