extends layout

block content
  h1 Password Reset Successful! ✅
  
  p Hi #{firstName},
  
  p Your password has been successfully reset for your Uber Clone account.
  
  p If you made this change, you can now log in with your new password:
  
  p(style='text-align: center; margin: 30px 0;')
    a.button(href=url) Login Now
  
  p 
    strong Security Notice:
  ul
    li Your password was changed on #{new Date().toLocaleDateString()}
    li If you didn't make this change, contact our support team immediately
    li For security, we recommend using a unique password for your account
  
  p Your account is now secure with your new password. Welcome back!
  
  p Best regards,
    br
    | The Uber Clone Security Team
  
  hr(style='margin: 30px 0; border: none; border-top: 1px solid #e9ecef;')
  
  p(style='font-size: 14px; color: #666;')
    strong Need help?
    |  Contact our support team at support@uberclone.com
